{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "extends": [
      "prettier"
    ],
    "rules": {
      "jsx-quotes": [
        1,
        "prefer-double"
      ]
    },
    "plugins": [
      "prettier"
    ]
  }